/* Popovers/Menus */

$popover_arrow_height: 12px;

//.the popover itself
.popup-menu-boxpointer {
  @extend %osd_panel;
  margin-top: 6px;
  -arrow-border-radius: 0;
  -arrow-background-color: transparent;
  -arrow-border-width: 0px;
  -arrow-border-color: transparent;
  -arrow-base: 0;
  -arrow-rise: 0;
  -arrow-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); // dreaming bugzilla #689995
}

// container of the popover menu
.popup-menu {
  min-width: 15em;
  color: $fg_color;
  @include draw_button_text_shadow();

  //.popup-status-menu-item { font-weight: normal;  color: pink; } //dunno what that is
  &.panel-menu {
    -boxpointer-gap: $base_margin; // distance from the panel
    margin-bottom: 1.75em;
  }
}

.popup-menu-content {
  padding: $base_padding * 2 + $base_margin 0;
}

// menu items
.popup-menu-item {
  spacing: $base_padding;
  padding: $base_padding;
  margin: 0 5px;

  &:ltr {
    padding-right: 1.75em;
    padding-left: 0;
  }
  &:rtl {
    padding-right: 0;
    padding-left: 1.75em;
  }

  &:checked {
    background-color: $popover_active_color;
    box-shadow: none;
  }

  &.selected {
    background-color: transparentize(white, if($variant== "light", 0.2, 0.9));
    color: $fg_color;
  }

  &:active {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }

  &:insensitive {
    color: transparentize($fg_color, 0.5);
  }
}

// all icons and other graphical elements
.popup-inactive-menu-item {
  color: $fg_color;

  &:insensitive {
    color: transparentize($fg_color, 0.5);
  }
}

// symbolic icons in popover
.popup-menu-arrow,
.popup-menu-icon {
  icon-size: $base_icon_size;
}

// popover submenus
.popup-sub-menu {
  @include use_border_image("background", "active", $reset: true);
}

// container for radio and check boxes
.popup-menu-ornament {
  text-align: right;
  width: 1.2em;
}

// separator
.popup-separator-menu-item {
  padding: 0;

  .popup-separator-menu-item-separator {
    //-margin-horizontal: 24px;
    height: 1px; //not really the whole box
    margin: 6px 64px;
    background-color: lighten($borders_color, 2%);
    .popup-sub-menu & {
      //submenu separators
      margin: 0 64px 0 32px;
      @if $variant == "dark" {
        background-color: lighten($bg_color, 10%);
      }
    }
  }
}

// desktop background menu
.background-menu {
  -boxpointer-gap: $base_margin;
  -arrow-rise: 0px; // hide the beak on the menu
}

// system status menu
.aggregate-menu {
  min-width: 21em;

  // lock screen, shutdown, etc. buttons
  .popup-menu-icon {
    padding: 0;
    margin: 0 $base_margin;
    -st-icon-style: symbolic;
  }

  .popup-sub-menu .popup-menu-item > :first-child {
    // account for icons in submenus with padding
    &:ltr {
      padding-left: $base_padding + $base_margin * 2;
      margin-left: $base_icon_size;
    }
    &:rtl {
      padding-right: $base_padding + $base_margin * 2;
      margin-right: $base_icon_size;
    }
  }
}
