// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  width: $search_entry_width;
  padding: $base_padding+1 $base_padding+3;
  border-radius: 0;
  color: transparentize($fg_color,0.3);
  background-color: $bg_color;
  border-color: $borders_color;

  &:hover {
    background-color: $hover_bg_color;
    border-color: $hover_borders_color;
    color: $hover_fg_color;
  }

  &:focus {
    padding: $base_padding $base_padding+2; // 1px less to account for wider border
    border-width: 2px;
    border-style: solid;
    border-color: $focus_color;
    color: $fg_color;
    box-shadow: 0 0 2px 2px transparentize($focus_color, 0.75);
  }

  .search-entry-icon { 
    icon-size: $base_icon_size;
    padding: 0 4px;
    color: inherit;
  }
}