// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  width: $search_entry_width;
  padding: $base_padding + 1 $base_padding + 3;
  border-radius: 0;
  color: transparentize($fg_color, 0.3);
  background-color: $bg_color;
  border-color: $borders_color;

  @include use_border_image(
    "entry",
    "normal",
    $reset: true,
    $width: 1px,
    $slice: 4
  );
  &:hover {
    @include use_border_image(
      "entry",
      "hover",
      $reset: true,
      $width: 1px,
      $slice: 4
    );
  }
  &:focus {
    @include use_border_image(
      "entry",
      "active",
      $reset: true,
      $width: 1px,
      $slice: 4
    );
  }

  .search-entry-icon {
    icon-size: $base_icon_size;
    padding: 0 4px;
    color: inherit;
  }
}
