/* App Switcher */

.switcher-popup {
  padding: 8px;
  spacing: $base_spacing * 4;
}

// switcher onscreen panel
.switcher-list {
  @extend %osd_panel;
  padding: 12px;

  .item-box {
    padding: 8px;
    border-radius: $base_border_radius + 1px;
    border: 3px solid transparent;

    &:outlined {
      background-color: transparentize($osd_fg_color, 0.5);
    }

    &:selected {
      color: $osd_fg_color;
      @include use_border_image(
        "neon",
        "aura_bg",
        $reset: true,
        $width: 3px,
        $slice: 4
      );
    }
  }

  // window thumbnails
  .thumbnail-box {
    padding: 2px;
    spacing: $base_spacing;
  }

  .thumbnail {
    width: 256px;
  }

  .separator {
    width: 1px;
    background: $borders_color;
  }

  .switcher-list-item-container {
    spacing: $base_spacing * 2;
  }
}

.switcher-arrow {
  border-color: rgba(0, 0, 0, 0);
  color: transparentize($fg_color, 0.2);
  &:highlighted {
    color: $fg_color;
  }
}

// Input Source Switcher
.input-source-switcher-symbol {
  font-size: 34pt;
  width: 96px;
  height: 96px;
}

// Window cycler highlight
.cycler-highlight {
  border: 5px solid $selected_bg_color;
}
