/* Tiled window previews */
.tile-preview {
  $c: $neon_blue;
  $tile_corner_radius: $base_border_radius + 1px;
  @include use_border_image(
    "neon",
    "aura_semi_transparent",
    $reset: true,
    $width: 3px,
    $slice: 4
  );

  &-left.on-primary {
    border-radius: $tile_corner_radius 0 0 0;
  }

  &-right.on-primary {
    border-radius: 0 $tile_corner_radius 0 0;
  }

  &-left.tile-preview-right.on-primary {
    border-radius: $tile_corner_radius $tile_corner_radius 0 0;
  }
}
