/* Window Picker */

$window_picker_spacing: $base_spacing * 2; // 16px
$window_picker_padding: $base_padding * 2; // 16px

$window_thumbnail_border_color: $neon_blue;

$window_close_button_size: 24px;
$window_close_button_padding: 3px;

// Window picker
.window-picker {
  // Space between window thumbnails
  -horizontal-spacing: $window_picker_spacing;
  -vertical-spacing: $window_picker_spacing;
  // Padding for container around window thumbnails
  padding: $window_picker_padding;

  &.external-monitor {
    padding: $window_picker_padding;
  }
}

// Borders on window thumbnails
.window-clone-border {
  border-width: 6px;
  border-style: solid;
  border-color: $window_thumbnail_border_color;
  border-radius: $base_border_radius + 2;
  // For window decorations with round corners we can't match
  // the exact shape when the window is scaled. So apply a shadow
  // to fix that case
  box-shadow: 0 0 0 1px transparentize($borders_color, 0.8);
  @include use_border_image(
    "neon",
    "aura_transparent",
    $reset: true,
    $width: 3px,
    $slice: 4
  );
}

// Window titles
.window-caption {
  @extend %tooltip;
  @include fontsize($base_font_size + 1);
}

// Close button
.window-close {
  $c: $neon_pink;
  background-color: $c;
  color: $selected_fg_color;
  border: none;
  border-radius: $window_close_button_size * 0.5 + $window_close_button_padding *
    2;
  padding: $window_close_button_padding;
  height: $window_close_button_size;
  width: $window_close_button_size;
  box-shadow: 0 0 2px 2px transparentize($c, 0.75);

  -shell-close-overlap: $window_close_button_size * 0.5;

  &:hover {
    background-color: lighten($focus_color, 5%);
  }

  &:active {
    background-color: darken($focus_color, 5%);
  }
}
