.nautilus-window,
.nautilus-window notebook,
.nautilus-window notebook > stack {
  background: $base_color;
}

.nautilus-window > grid {
  border-top: 1px solid $borders_color;
}

.nautilus-canvas-item {
  border-radius: 5px;
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
  // color: mix($fg_color, $bg_color, 0.5);
  color: mix($text_color, $bg_color);
}

.nautilus-canvas-item.dim-label:selected,
.nautilus-list-dim-label:selected {
  color: mix($selected_fg_color, $selected_bg_color, 0.2);
}

/* Toolbar */

/* Here we use the .button background-image colors from Adwaita, but ligthen them,
 * since is not possible to use lighten () in common css. */
@keyframes needs_attention_keyframes {
  0% {
    background-image: linear-gradient(to bottom, $bg_color, $base_color);
    border-color: $borders_color;
  }
  /* can't do animation-direction, so holding the color on two keyframes */
  30% {
    background-image: linear-gradient(
      to bottom,
      $base_color,
      $base_color,
      $base_color
    );
    border-color: $fg_color;
  }
  90% {
    background-image: linear-gradient(
      to bottom,
      $base_color,
      $base_color,
      $base_color
    );
    border-color: $fg_color;
  }
  100% {
    background-image: linear-gradient(to bottom, $bg_color, $base_color);
    border-color: $borders_color;
  }
}

.nautilus-operations-button-needs-attention {
  animation: needs_attention_keyframes 2s ease-in-out;
}
.nautilus-operations-button-needs-attention-multiple {
  animation: needs_attention_keyframes 3s ease-in-out;
  animation-iteration-count: 3;
}

.disclosure-button {
  padding-left: 4px;
  padding-right: 4px;
}

/* Path bar */

.nautilus-path-bar button {
  /* undecorate the buttons */
  margin: 0px;
}

.nautilus-path-bar button:not(:checked) image {
  opacity: 0.8;
} /* dim the icon when not checked */

.path-bar-box {
  transition: border 200ms;
  transition: background-color 200ms;
  border-radius: 5px;
}

.path-bar-box.width-maximized {
  border: 1px $borders_color solid;
  background-color: $bg_color;
}

.path-bar-box.width-maximized button:first-child {
  border-radius: 5px 0px 0px 5px;
  border-width: 0px 1px 0px 0px;
}

.path-bar-box.width-maximized button:not(:first-child) {
  border-width: 0px 1px 0px 1px;
  border-radius: 0px 0px 0px 0px;
}

/* Make the tags fit into the box */
entry.search > * {
  margin: 5px;
}

/* Sidebar */

.nautilus-window .sidebar-row:selected {
  // background: mix($bg_color, $fg_color, 0.07);
}

.nautilus-window .sidebar-row:selected,
.nautilus-window .sidebar-row:selected image,
.nautilus-window .sidebar-row:selected label {
  // color: mix($fg_color, $text_color, 0.5);
}

.nautilus-window .sidebar-row:selected:backdrop {
  // background: mix($backdrop_bg_color, $backdrop_fg_color, 0.07);
}

.nautilus-window .sidebar-row:selected:backdrop,
.nautilus-window .sidebar-row:selected:backdrop label {
  // color: mix($backdrop_fg_color, $backdrop_text_color, 0.15);
}

/* Floating status bar */
.floating-bar {
  padding: 1px;
  background-color: $base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $borders_color;
  border-radius: 3px 3px 0 0;
}

.floating-bar.bottom.left {
  /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right {
  /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}

.floating-bar:backdrop {
  background-color: $backdrop_base_color;
  border-color: $backdrop_borders_color;
}

.floating-bar button {
  padding: 0px;
}

$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: #eeeeec;

.disk-space-display {
  border-style: solid;
  border-width: 2px;
}

.disk-space-display.unknown {
  background-color: $disk_space_unknown;
  border-color: shade($disk_space_unknown, 0.7);
  color: $disk_space_unknown;
}
.disk-space-display.unknown.border {
  color: shade($disk_space_unknown, 0.7);
}

.disk-space-display.used {
  background-color: $disk_space_used;
  border-color: shade($disk_space_used, 0.7);
  color: $disk_space_used;
}
.disk-space-display.used.border {
  color: shade($disk_space_used, 0.7);
}

.disk-space-display.free {
  background-color: $disk_space_free;
  border-color: shade($disk_space_free, 0.7);
  color: $disk_space_free;
}
.disk-space-display.free.border {
  color: shade($disk_space_free, 0.7);
}

/* View */
.nautilus-list-view .view {
  border-bottom: 1px solid $bg_color;
}

.search-information {
  background-color: $selected_bg_color;
  color: white;
  padding: 2px;
}

/* Hide superfluous treeview drop target indication */
.nautilus-list-view .view.dnd {
  border-style: none;
}

$conflict_bg: #fef6b6;

.conflict-row {
  background: $conflict_bg;
  color: black;
}

.conflict-row:hover {
  background-color: shade($conflict_bg, 0.9);
}

.conflict-row:selected {
  background: $selected_bg_color;
  color: $selected_fg_color;
}

/* Icon view */
flowboxchild:selected {
  background-color: transparent;
}

.icon-background {
  background-color: black;
  border-color: $selected_bg_color;
  border-style: solid;
  border-width: 0px;
}

flowboxchild > .icon-item-background {
  padding: 4px;
}
flowboxchild:selected > .icon-item-background {
  padding: 4px;
  background-color: $selected_bg_color;
  border-color: $selected_bg_color;
  border-style: solid;
  border-width: 0px;
  border-radius: 4px 4px 4px 4px;
}

.nautilus-window placessidebar > viewport.frame {
  border: none;
}
