// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
@import "./color-palette";

$base_color: #372d4b;
$text_color: #a6a2aa;
$bg_color: #2a2139;
$fg_color: #ccc;

$selected_fg_color: #fff;
$selected_bg_color: transparentize(#ffffff, 0.7);
$selected_borders_color: darken($selected_bg_color, 30%);
$borders_color: darken($bg_color, 10%);
$borders_edge: transparentize($fg_color, 0.93);
$link_color: #f97e72;
$link_visited_color: lighten($link_color, 10%);
$top_hilight: $borders_edge;
$popover_active_color: #36243e;

// $dark_fill: mix($borders_color, $bg_color, 50%);
$dark_fill: $base_color;
$focus_color: $neon_pink;
$warning_color: #ffee0a;
$error_color: #ff382d;
$success_color: #75bf15;
$destructive_color: #ff382d;

$osd_fg_color: $fg_color;
$osd_text_color: $text_color;
$osd_bg_color: transparentize($bg_color, 0.04);
$osd_insensitive_bg_color: transparentize(
  mix($osd_fg_color, opacify($osd_bg_color, 1), 10%),
  0.5
);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 50%);
$osd_borders_color: transparentize(black, 0.3);
$osd_outer_borders_color: transparentize(white, 0.84);

$shadow_color: rgba(0, 0, 0, 0.2);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: mix($borders_color, $base_color, 60%);

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($base_color, 1%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: lighten($backdrop_bg_color, 15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
