$neon_pink: #FC29A8;
$neon_blue: #03EDF9;

$focusborder: #1f212b;
$foreground: #ffffff;
$widget: #2a2139;
$selection-background: #ffffff36;
$errorforeground: #fe4450;
$textlink-activeforeground: #ff7edb;
$textlink-foreground: #f97e72;
$button-background: #2a2139;
$dropdown-background: #232530;
$dropdown-listbackground: #2a2139;
$input-background: #2a2139;
$inputoption-activeborder: #ff7edb99;
$inputvalidation-errorbackground: #fe445080;
$inputvalidation-errorborder: #fe445000;
$scrollbar-shadow: #2a2139;
$scrollbarslider-activebackground: #9d8bca20;
$scrollbarslider-background: #9d8bca30;
$scrollbarslider-hoverbackground: #9d8bca50;
$badge-foreground: #ffffff;
$badge-background: #2a2139;
$progressbar-background: #f97e72;
$list-activeselectionbackground: #ffffff36;
$list-activeselectionforeground: #ffffff;
$list-dropbackground: #34294f66;
$list-focusbackground: #2a213999;
$list-focusforeground: #ffffff;
$list-highlightforeground: #f97e72;
$list-hoverbackground: #2a213999;
$list-hoverforeground: #ffffff;
$list-inactiveselectionbackground: #34294f66;
$list-inactiveselectionforeground: #ffffff;
$list-inactivefocusbackground: #2a213999;
$list-errorforeground: #fe4450e6;
$list-warningforeground: #72f1b8bb;
$activitybar-background: #171520;
$activitybar-dropbackground: #34294f66;
$activitybar-foreground: #ffffffcc;
$activitybarbadge-background: #f97e72;
$activitybarbadge-foreground: #2a2139;
$sidebar-background: #241b2f;
$sidebar-foreground: #ffffff99;
$sidebar-dropbackground: #34294f4c;
$sidebarsectionheader-background: #241b2f;
$sidebarsectionheader-foreground: #ffffffca;
$menu-background: #463465;
$editorgroup-border: #495495;
$editorgroup-dropbackground: #34294f4a;
$editorgroupheader-tabsbackground: #241b2f;
$tab-border: #241b2f00;
$tab-activeborder: #880088;
$tab-inactivebackground: #262335;
$editor-background: #262335;
$editorlinenumber-foreground: #ffffff73;
$editorlinenumber-activeforeground: #ffffffcc;
$editorcursor-background: #241b2f;
$editorcursor-foreground: #f97e72;
$editor-selectionbackground: #ffffff36;
$editor-selectionhighlightbackground: #ffffff36;
$editor-wordhighlightbackground: #34294f88;
$editor-wordhighlightstrongbackground: #34294f88;
$editor-findmatchbackground: #34294f59;
$editor-findmatchhighlightbackground: #34294f33;
$editor-findrangehighlightbackground: #34294f1a;
$editor-hoverhighlightbackground: #463465;
$editor-linehighlightbackground: #34294f66;
$editor-rangehighlightbackground: #49549539;
$editorindentguide-background: #49549539;
$editorindentguide-activebackground: #2a2139;
$editorruler-foreground: #34294f33;
$editorcodelens-foreground: #ffffff7c;
$editorbracketmatch-background: #34294f66;
$editorbracketmatch-border: #495495;
$editoroverviewruler-border: #34294fb3;
$editoroverviewruler-findmatchforeground: #34294f;
$editoroverviewruler-modifiedforeground: #49549599;
$editoroverviewruler-addedforeground: #09f7a099;
$editoroverviewruler-deletedforeground: #fe445099;
$editoroverviewruler-errorforeground: #fe4450dd;
$editoroverviewruler-warningforeground: #72f1b8cc;
$editorerror-foreground: #fe4450;
$editorwarning-foreground: #72f1b8cc;
$editorgutter-modifiedbackground: #495495af;
$editorgutter-addedbackground: #206d4bd6;
$editorgutter-deletedbackground: #fa2e46a4;
$diffeditor-insertedtextbackground: #0beb9916;
$diffeditor-removedtextbackground: #fe445016;
$editorwidget-background: #372d4b;
$editorwidget-border: #ffffff22;
$editorwidget-resizeborder: #ffffff44;
$editorsuggestwidget-highlightforeground: #f97e72;
$editorsuggestwidget-selectedbackground: #ffffff36;
$peekview-border: #495495;
$peekvieweditor-background: #232530;
$peekvieweditor-matchhighlightbackground: #34294f59;
$peekviewresult-background: #232530;
$peekviewresult-matchhighlightbackground: #34294f59;
$peekviewresult-selectionbackground: #2a213980;
$peekviewtitle-background: #232530;
$paneltitle-activeborder: #f97e72;
$statusbar-background: #241b2f;
$statusbar-foreground: #ffffff80;
$statusbar-debuggingbackground: #f97e72;
$statusbar-debuggingforeground: #08080f;
$statusbar-nofolderbackground: #241b2f;
$statusbaritem-hoverbackground: #2a2139;
$statusbaritem-prominentbackground: #2a2139;
$statusbaritem-prominenthoverbackground: #34294f;
$titlebar-activebackground: #241b2f;
$titlebar-inactivebackground: #241b2f;
$extensionbutton-prominentbackground: #f97e72;
$extensionbutton-prominenthoverbackground: #ff7edb;
$pickergroup-foreground: #f97e72ea;
$terminal-foreground: #ffffff;
$terminal-ansiblue: #03edf9;
$terminal-ansibrightblue: #03edf9;
$terminal-ansibrightcyan: #03edf9;
$terminal-ansibrightgreen: #72f1b8;
$terminal-ansibrightmagenta: #ff7edb;
$terminal-ansibrightred: #fe4450;
$terminal-ansibrightyellow: #fede5d;
$terminal-ansicyan: #03edf9;
$terminal-ansigreen: #72f1b8;
$terminal-ansimagenta: #ff7edb;
$terminal-ansired: #fe4450;
$terminal-ansiyellow: #f97e72;
$terminal-selectionbackground: #34294f4d;
$terminalcursor-background: #ffffff;
$terminalcursor-foreground: #03edf9;
$debugtoolbar-background: #241b2f;
$walkthrough-embeddededitorbackground: #232530;
$gitdecoration-modifiedresourceforeground: #b893ceee;
$gitdecoration-deletedresourceforeground: #fe4450;
$gitdecoration-addedresourceforeground: #72f1b8cc;
$gitdecoration-untrackedresourceforeground: #72f1b8;
$gitdecoration-ignoredresourceforeground: #ffffff59;
$breadcrumbpicker-background: #232530;
