$neon_pink: #FC29A8;
$neon_blue: #03EDF9;
$neon_yellow: #FFF951;

$errorforeground: #fe4450;
$textlink-foreground: #f97e72;
$tab-activeborder: #880088;
$editoroverviewruler-warningforeground: #72f1b8;

$terminal-foreground: #ffffff;
$terminal-ansiblue: #03edf9;
$terminal-ansibrightblue: #03edf9;
$terminal-ansibrightcyan: #03edf9;
$terminal-ansibrightgreen: #72f1b8;
$terminal-ansibrightmagenta: #ff7edb;
$terminal-ansibrightred: #fe4450;
$terminal-ansibrightyellow: #fede5d;
$terminal-ansicyan: #03edf9;
$terminal-ansigreen: #72f1b8;
$terminal-ansimagenta: #ff7edb;
$terminal-ansired: #fe4450;
$terminal-ansiyellow: #f97e72;
$terminal-selectionbackground: #34294f4d;
$terminalcursor-background: #ffffff;
$terminalcursor-foreground: #03edf9;
$debugtoolbar-background: #241b2f;